@charset "utf-8";

:root {
  color-scheme: dark light;
  font-family: monospace;
  --man-width: 80vmin;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1c1b22;
    --color-accent: #00485a;
    --mix-blend-mode: color-dodge;
    --moon-bg: #d6ecf0 3%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff;
    --color-accent: #60adff;
    --mix-blend-mode: color-burn;
    --moon-bg: #d6ecf0 38%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
#app {
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
}
#main {
  height: var(--man-width);
  width: var(--man-width);
  overflow: hidden;
  background-image: linear-gradient(transparent 3px, var(--color-bg) 1px);
  background-size: 4px 4px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

#water {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-accent);
  mix-blend-mode: var(--mix-blend-mode);
}

#moon {
  height: var(--man-width);
  width: var(--man-width);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: color-mix(in srgb, #0000, var(--moon-bg));
}

.info {
  width: var(--man-width);
  color: var(--color-accent);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.controle {
  width: var(--man-width);
  color: var(--color-accent);
  display: flex;
  justify-content: space-between;
}
.controle > div {
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.controle > div.active {
  background-image: linear-gradient(transparent 1px, var(--color-accent) 1px);
  background-size: 2px 2px;
  color: var(--color-bg);
  text-decoration: unset;
}
