
<li>apache
<ul>
<li><a href="{{ '/page/apache/archiva.html' }}">archiva</a></li>
<li><a href="{{ '/page/apache/maven.html' }}">maven</a></li>
</ul>
</li>
<li><a href="{{ '/page/css.html' }}">css</a></li>
<li><a href="{{ '/page/git.html' }}">git</a></li>
<li><a href="{{ '/page/html.html' }}">html</a></li>
<li><a href="{{ '/page/iBatis.html' }}">iBatis</a></li>
<li>java
<ul>
<li><a href="{{ '/page/java/Sc.html' }}">Sc</a></li>
</ul>
</li>
<li><a href="{{ '/page/layui.html' }}">layui</a></li>
<li><a href="{{ '/page/poi.html' }}">poi</a></li>
<li>spring
<ul>
<li>spring-boot
<ul>
<li><a href="{{ '/page/spring/spring-boot/logback.html' }}">logback</a></li>
<li><a href="{{ '/page/spring/spring-boot/other.html' }}">other</a></li>
<li><a href="{{ '/page/spring/spring-boot/testBase.html' }}">testBase</a></li>
</ul>
</li>
<li>spring-cloud
<ul>
<li><a href="{{ '/page/spring/spring-cloud/fileUpload.html' }}">fileUpload</a></li>
</ul>
</li>
<li>spring-mvc
<ul>
<li><a href="{{ '/page/spring/spring-mvc/baseTest.html' }}">baseTest</a></li>
</ul>
</li>
<li>spring-security
<ul>
<li><a href="{{ '/page/spring/spring-security/html-tag.html' }}">html-tag</a></li>
</ul>
</li>
<li>spring-thymeleaf
<ul>
</ul>
</li>
</ul>
</li>
<li><a href="{{ '/page/ubuntu.html' }}">ubuntu</a></li>
<li>vim
<ul>
<li><a href="{{ '/page/vim/buffers.html' }}">buffers</a></li>
<li><a href="{{ '/page/vim/marks.html' }}">marks</a></li>
<li>plugin
<ul>
<li><a href="{{ '/page/vim/plugin/ack.html' }}">ack</a></li>
<li><a href="{{ '/page/vim/plugin/fzf.html' }}">fzf</a></li>
</ul>
</li>
<li><a href="{{ '/page/vim/register.html' }}">register</a></li>
<li><a href="{{ '/page/vim/resize.html' }}">resize</a></li>
<li><a href="{{ '/page/vim/table.html' }}">table</a></li>
</ul>
</li>